<li>
  <%= user.email %>
  <% if current_user.role == 'admin' && !current_user?(user) %>
    | <%= link_to "delete", user_path(user), method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>