<h1>Crop Image</h1>

<%= image_tag @photo.image_url(:rotated), id: "cropbox" %>

<form name="myform" method="POST">
  <div align="left"><br>
    <input type="radio" name="cropselect" id="square" checked> Square		
    <input type="radio" name="cropselect" id="portrait"> Portrait			
    <input type="radio" name="cropselect" id="landscape"> Landscape			
    <input type="radio" name="cropselect" id="freecrop"> Free Crop
  </div>
</form>

<%= form_for @photo do |f| %>
  <div class="actions">
    <% %w[x y w h].each do |attribute| %>
      <%= f.text_field "crop_#{attribute}"%>
    <% end %>
    <%= f.submit "Crop", :id => "cropper" %>
  </div>
<% end %>
