<h1>Rotate Image</h1>

<%= image_tag @photo.image_url(:large), id: "rotate0" %>
<%= image_tag @photo.image_url(:large), id: "rotate90" %>
<%= image_tag @photo.image_url(:large), id: "rotate190" %>
<%= image_tag @photo.image_url(:large), id: "rotate270" %>



