<style>
body
{ 
background: #909090 
}
a:link {color:#000000;}    /* unvisited link */
a:visited {color:#000000;} /* visited link */
a:hover {color:#0000FF;}   /* mouse over link */
a:active {color:#000000;}  /* selected link */

</style>

<h1>Editing photo</h1>

<%= render 'form' %>

<%= link_to 'Show', @photo %> |
<%= link_to 'Back', photos_path %> |
<%= link_to 'Back to Editing queue', edit_queue_path %>
