// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas{
    height: 200px;
    width: 400px;
    max-width: 400px;
}
